

 
@model EADWebProject.Models.user    
<div class="span3" >      

    </div>

    <div class="span6" >
         <script>
             /*  $.getJSON (url, [data], [callback]) is designed to get ajax json data set, and supports cross-domain calls
•url: string type, ajax requested address for example if you have business logic in ajaxcalls.pl you would 
call ajaxcalls.pl in url.
•data: optional parameter, object type or sting, sent to the server with request. 
•callback: optional parameter, function type, when ajax return success this function function (data) called automatically. 

JSON is an ideal data transmission format, it can be a good integration with JavaScript. Sending data in JSON format is more secure as compared
to using get and post. Another advantage is that it also support cross-domain calls.*/

             $(document).ready(function () {

                 $('#checking').hide();

                 $('#b1').click(function () {

                     var userName = $('#email').val();


                     $('#checking').show();

                     $.getJSON("/Home/CheckUserName?email="+ userName, function (data) {
                         $('#checking').hide();

                         if (data) {

                             $('#result').text("User Name already exists.");

                         }
                         else {
                             $('#result').text("User Name is Available");
                         }
                     });
                     return false;
                 });

             });
                </script>



        <h2 >Sign Up</h2>
        <br>
         @using (Html.BeginForm("saveUser", "Home", FormMethod.Post))
        {
             @Html.ValidationSummary(true)
        <table>
        <tr>
        <th  ><p >@Html.LabelFor(m=> m.email)</p></th> <th>@Html.EditorFor(m=> m.email)</th> <th> @Html.ValidationMessageFor(m=>m.email)</th><th><button class="btn btn-info" id="b1">Check Availability</button></th><th><div id="checking">checking...</div></th><th><div id="result"></div></th>
        </tr>
           
        
        <tr>
        <th  ><p > @Html.LabelFor(m=> m.name)</p></th> <th> @Html.EditorFor(m=> m.name)</th> <th> @Html.ValidationMessageFor(m=>m.name)</th>
        </tr>
        <tr>
        <th  ><p > @Html.LabelFor(m=> m.password)</p></th> <th>@Html.PasswordFor(m=> m.password)</th><th> @Html.ValidationMessageFor(m=>m.password)</th>
        </tr>
         <tr>
        <th  ><p >@Html.LabelFor(m=> m.ConfrimPass)</p></th> <th>@Html.PasswordFor(m=> m.ConfrimPass)</th><th> @Html.ValidationMessageFor(m=>m.ConfrimPass)</th>
        </tr>

            <tr>
        <th  ><p>  @Html.LabelFor(m=> m.phone)</p></th> <th>@Html.EditorFor(m=> m.phone)</th><th> @Html.ValidationMessageFor(m=>m.phone)</th>
        </tr>

        <tr>
        <th ><button class="btn btn-info" type="submit" style="margin-left:100px" onclick="return check">Register</button></th>
         <th><button class="btn" style="margin-left:2px" type="button">Cancel</button></th>
        </tr>
         
        </table>
        <div id="p1" style="color:red"></div>  
        }
         <script>
             function check()
             {
                 var name = document.getElementById('UserName').value;
                 var email = document.getElementById('t2').value;
                 var password = document.getElementById('t3').value;
                 var newPassword = document.getElementById('t4').value;
                 if (name.length == 0)
                 {
                     $('#p1').append('*name field is empty.');
                     return false;
                 }
                 else if (email.length == 0)
                 {
                     $('#p1').append('*email field is empty.');
                     return false;
                 }
                 else if (password.length == 0) {
                     $('#p1').append('*password field is empty.');
                     return false;
                 }
                 else if (newPassword.length == 0) {
                     $('#p1').append('*Again Password field is empty.');
                     return false;
                 }
                 else if (password != newPassword) {
                     $('#p1').append('*password and retype password field must be same.');
                     return false;
                 }
                 else {
                     return true;
                 }
             }
            </script>
        @section Scripts
        {

            @Scripts.Render("~/bundles/jqueryval");

        }

    </div>
  
   